<app-header></app-header>
<div class="col-md-12">
  
<h4 class="runnging-orders">{{ 'runningorders' | translate }}</h4>
  <ngx-datatable
  class="material striped runningtbl" 
  [rows]="rows"
  [columnMode]="'force'"
  [headerHeight]="33"
 
  [reorderable]="reorderable"
  [rowHeight]="auto"
  [loadingIndicator]="loadingIndicator"
  [selectCheck]="singleSelectCheck"

  [selected]="selected"
  [selectionType]="'single'"
  (activate)="onActivate($event)"
  (select)='onSelect1($event,$table1)'
  [reorderable]="reorderable">
  
  <ngx-datatable-column prop="D.S.N"  [sortable]="false" headerClass="dsno" cellClass="dsno" >
           <ng-template let-value="value"  columnMode="dsno" ngx-datatable-cell-template>
             {{value}}
           </ng-template>
         </ngx-datatable-column>
         <ngx-datatable-column prop="OrderNumber"  [sortable]="false"  headerClass="orderno" cellClass="orderno" >
           <ng-template let-row="row"  let-value="value" ngx-datatable-cell-template>
             {{value}}
           </ng-template>
         </ngx-datatable-column>
         <ngx-datatable-column prop="Recipe Code" [sortable]="false"  headerClass="recipecode" cellClass="recipecode">
           <ng-template let-value="value" ngx-datatable-cell-template>
             {{value}}
           </ng-template>
         </ngx-datatable-column>
         <ngx-datatable-column prop="Order Start Time"  [sortable]="false" headerClass="orderStartTime" cellClass="orderStartTime">
                 <ng-template let-value="value" ngx-datatable-cell-template>
                   {{value}}
                 </ng-template>
               </ngx-datatable-column>
               <ngx-datatable-column prop="Batch(Plan)"  [sortable]="false" headerClass="batchPlan" cellClass="trbatchPlan">
                       <ng-template let-value="value" ngx-datatable-cell-template>
                         {{value}}
                       </ng-template>
                     </ngx-datatable-column>
                     <ngx-datatable-column prop="Batch(Prod)"  [sortable]="false" headerClass="batchProd" cellClass="batchProd">
                             <ng-template let-value="value" ngx-datatable-cell-template>
                               {{value}}
                             </ng-template>
                           </ngx-datatable-column>
                           <ngx-datatable-column prop="Status"  [sortable]="false">
                             <ng-template let-value="value" ngx-datatable-cell-template>
                               {{value}}
                             </ng-template>
                           </ngx-datatable-column>
</ngx-datatable>
</div>

<div class="col-md-12 col-lg-12 col-xs-12 padd-0 mt-15">
    <div class="col-md-6 col-sm-12 col-xs-12">

        <h4 class="avail-orders">{{ 'availableorders' | translate }}</h4>
        <ngx-datatable
        class="material striped availabetbl"
        [rows]="rows1"
        
        [columnMode]="'force'"
        [headerHeight]="33"
        [footerHeight]="35"
        [rowHeight]="'auto'"
        
        [limit]="5"
        [selectCheck]="singleSelectCheck"

        [reorderable]="reorderable"
        [selected]="selected"
        [selectionType]="'single'"
        (activate)="onActivate($event)"
        (select)='onSelect2($event,$table2)'
        >
         <ngx-datatable-column prop="D.S.N" [sortable]="false" headerClass="avdsno" cellClass="avdsno">
                     <ng-template let-value="value" ngx-datatable-cell-template>
                       {{value}}
                     </ng-template>
                   </ngx-datatable-column>
                   <ngx-datatable-column prop="OrderNumber"  [sortable]="false" headerClass="avorderno" cellClass="avorderno" >
                     <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                       {{value}}
                     </ng-template>
                   </ngx-datatable-column>
                   <ngx-datatable-column prop="RecipeCode"  [sortable]="false" headerClass="rcpno" cellClass="rcpno" >
                     <ng-template let-value="value" ngx-datatable-cell-template>
                       {{value}}
                     </ng-template>
                   </ngx-datatable-column>
                   <ngx-datatable-column prop="No Of Batch"  [sortable]="false">
                           <ng-template let-value="value" ngx-datatable-cell-template>
                             {{value}}
                           </ng-template>
                         </ngx-datatable-column>
        </ngx-datatable>
                        
       <div class="col-md-12 col-xs-12 btn-bg" style="margin-top:5px;">
        <div class="col-sm-6 col-md-6" style="padding-left: 0px;">
          <button type="button" class="btn btn-block body-info" [disabled]="Submitdisable" style= "color:white; height:40px;" data-toggle="modal" data-target="#OrderHold" ><span>Order Hold</span></button>
          
                      
                  </div>
                  <div class="col-sm-6 col-md-6" style="padding-right: 0px;">
                        <button type="button" class="btn btn-block body-info"  [disabled]="Submitdisable"  style= "color:white; height:40px; " data-toggle="modal" data-target="#OrderStart" ><span>Order Start</span></button>
                        
    
                  </div>
       </div>
        </div>

        <div class="col-md-6 col-xs-12 col-sm-12">
            <h4 class="bom-details">{{ 'bomdetails' | translate }}</h4>
                
            <ngx-datatable
            class="material striped bomtbl"
            [rows]="rows2"
            
            [columnMode]="'force'"
            [headerHeight]="33"
            [footerHeight]="35"
            [rowHeight]="'auto'"
            
            [limit]="5"
        
            [reorderable]="reorderable" >
             <ngx-datatable-column prop="D.S.N" [width]="5" [sortable]="false" headerClass="avdsno" cellClass="avdsno">
                         <ng-template let-value="value" ngx-datatable-cell-template>
                           {{value}}
                         </ng-template>
                       </ngx-datatable-column>
                       <ngx-datatable-column prop="Material Code"  [sortable]="false" headerClass="avmaterialcode" cellClass="avmaterialcode">
                         <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                           {{value}}
                         </ng-template>
                       </ngx-datatable-column>
                       <ngx-datatable-column prop="Material description" [sortable]="false" headerClass="avorderno" cellClass="avorderno">
                         <ng-template let-value="value" ngx-datatable-cell-template>
                           {{value}}
                         </ng-template>
                       </ngx-datatable-column>
                       <ngx-datatable-column prop="Qty(kg)"  [sortable]="false">
                               <ng-template let-value="value" ngx-datatable-cell-template>
                                 {{value}}
                               </ng-template>
                             </ngx-datatable-column>
          </ngx-datatable>
          <div class="col-lg-12 col-xs-12 col-md-12 btn-bg" style="margin-top:10px;padding:7px;">
        
              <div class="col-lg-4 col-sm-4 col-xs-4">
                    Plan(Batch) : 300
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-4">
                    Actual(Batch) : 200
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-4">
                    Target(Batch) : 100
              </div>
           </div>
        </div>
        
</div> 
<div class="col-md-12 col-xs-12 col-lg-12 m-t-10" style="bottom:20px; position:fixed;text-align:center;">
    <a [routerLink]="['/app-orderinprogress']">
      <div class="button1">
          <button type="button" class="btn btn-md body-info btn-width mt-34  " style="color:white">
              <span>Order In-progress</span>
          </button>
      </div>
     </a>
  
      <div class="button1">
      <button type="button" class="btn btn-md body-info mt-34 btn-width" [disabled]="Submitdisable" style="color:white" data-toggle="modal" data-target="#pregenealogy">
          <span>Pre Geneaology
                Capture </span>
      </button>
      </div>
     
      <div class="button1">
          <button type="button" class="btn btn-md body-info mt-34 btn-width" style="color:white" data-toggle="modal" data-target="#parialunload">
              <span> Partial Unload /
                    Empty</span>
            </button>
      </div>
   

      <div class="button1">
    <button type="button" class="btn btn-md body-info mt-34 btn-width" style="color:white" data-toggle="modal" data-target="#materialCall">
        <span>Material
              Call</span>
    </button>
</div>
    <div class="button1 mmt-15">
    <button type="button" class="btn btn-md body-info mt-34 btn-width" [disabled]="Submitdisable" style="color:white" data-toggle="modal" data-target="#materialsendback">
        <span>Material
             Send Back</span>
    </button>
</div>

    <div class="button1 mmt-15">
    <button type="button" class="btn btn-md body-info mt-34 btn-width" style="color:white">
        <span>Maintenance
              Call </span>
    </button>
</div>
<a [routerLink]="['/app-ordercomplete']">
  <div class="button1 mmt-15">
      <button type="button" class="btn btn-md body-info btn-width mt-34 " style="color:white">
          <span>Completed Orders</span>
      </button>
  </div>
    </a>

<app-footer></app-footer>

<div class="modal fade  success-popup" id="OrderHold" tabindex="99999" role="dialog" aria-labelledby="myModalLabel" style="margin-top:70px;">
  <div class="modal-dialog modal-sm" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="myfun()"><span aria-hidden="true">×</span></button>
           <h4 class="modal-title" id="myModalLabel">Success !</h4>
        </div>
        <div class="modal-body1 text-center">
          <div >
                    <h4 *ngFor='let sel of selected'>
                                {{sel.OrderNumber}} Order Holded Successfully
                    </h4>
                              <h4 *ngIf="!selected.length">Please Select Any Order</h4>
          </div>
           <a href="home.html" class="rd_more btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#OrderHoldSuccess" (click)="myfun()">OK</a>
        </div>
     </div>
  </div>
</div>
       <!--order hold end -->

       <!--material load succes -->

<div class="modal fade success-popup" id="materialloadsucces" tabindex="99999" role="dialog" aria-labelledby="myModalLabel" style="margin-top:70px;">
  <div class="modal-dialog modal-sm" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
           <h4 class="modal-title" id="myModalLabel">Success !</h4>
        </div>
        <div class="modal-body1 text-center">
           <p class="lead">Material Loaded Sucessfully</p>
          
           <a href="home.html" class="rd_more btn btn-primary" data-dismiss="modal" id='confirm'>OK</a>
        </div>
     </div>
  </div>
</div>


             <!--material load succes  -->

               <!--material unload succes -->

<div class="modal fade success-popup" id="materialunloadsucces" tabindex="99999" role="dialog" aria-labelledby="myModalLabel" style="margin-top:70px;">
  <div class="modal-dialog modal-sm" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
           <h4 class="modal-title" id="myModalLabel">Success !</h4>
        </div>
        <div class="modal-body1 text-center">
           <p class="lead">Material Unloaded Sucessfully</p>
          
           <a href="home.html" class="rd_more btn btn-primary" data-dismiss="modal" id='confirm'>OK</a>
        </div>
     </div>
  </div>
</div>
             <!--material unload succes  -->

<!--material empty  succes -->

<div class="modal fade success-popup" id="materialemptysucces" tabindex="99999" role="dialog" aria-labelledby="myModalLabel" style="margin-top:70px;">
  <div class="modal-dialog modal-sm" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
           <h4 class="modal-title" id="myModalLabel">Success !</h4>
        </div>
        <div class="modal-body1 text-center">
           <p class="lead">Material Empty Sucessfully</p>
          
           <a href="home.html" class="rd_more btn btn-primary" data-dismiss="modal" id='confirm'>OK</a>
        </div>
     </div>
  </div>
</div>
             <!--material empty succes  -->

             <div class="modal fade success-popup" id="orderstartsuccess" tabindex="99999" role="dialog" aria-labelledby="myModalLabel" style="margin-top:70px;"> 
                <div class="modal-dialog modal-sm" role="document">
                   <div class="modal-content">
                      <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                         <h4 class="modal-title" id="myModalLabel">Success !</h4>
                      </div>
                      <div class="modal-body1 text-center">
                                  <div >
                                      <h4 *ngFor='let sel of selected'>
                                          {{sel.OrderNumber}} Order Started Successfully
                                      </h4>
                                    </div>               <!-- <p>TEST</p> -->
                         <!-- <a href="home.html" class="rd_more btn btn-primary" data-dismiss="modal" id='confirm'>OK</a> -->
                      </div>
                   </div>
                </div>
             </div>
<!--order start succes -->

<div class="modal fade success-popup" id="OrderStart" tabindex="99999" role="dialog" aria-labelledby="myModalLabel" style="margin-top:70px;">
  <div class="modal-dialog modal-sm" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
           <h4 class="modal-title" id="myModalLabel">Confirmation !</h4>
        </div>
        <div class="modal-body1 text-center">
                    <div >
                                <h4 *ngFor='let sel of selected'>
                                  Are you sure to start order<br>
                                  <a class="rd_more btn btn-primary" id='confirm'  data-dismiss="modal"  data-toggle="modal" data-target="#orderstartsuccess">YES</a>
                                  <a href="home.html" class="rd_more btn btn-default"  data-dismiss="modal">NO</a>
                                
                                </h4>
                                          <h4 *ngIf="!selected.length">Please select any order</h4>
                      </div>               <!-- <p>TEST</p> -->
           <!-- <a href="home.html" class="rd_more btn btn-primary" data-dismiss="modal" id='confirm'>OK</a> -->
        </div>
     </div>
  </div>
</div>
             <!--order start succes -->

             
<div class="modal fade success-popup" *ngIf="!selected.length"  id="pregenealogy" tabindex="99999" role="dialog" aria-labelledby="myModalLabel" style="margin-top:70px;">
  <div class="modal-dialog modal-sm" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
           <h4 class="modal-title" id="myModalLabel">Confirmation !</h4>
        </div>
        <div class="modal-body1 text-center">
                    <div >
                              
                                          <h4 *ngIf="!selected.length">Please select any order</h4>
                      </div>               <!-- <p>TEST</p> -->
           <!-- <a href="home.html" class="rd_more btn btn-primary" data-dismiss="modal" id='confirm'>OK</a> -->
        </div>
     </div>
  </div>
</div>
<!--order sendback succes -->
<div class="modal success-popup" *ngIf="!selected.length"  id="materialCall" tabindex="99999" role="dialog" aria-labelledby="myModalLabel" style="margin-top:70px;">
<div class="modal-dialog modal-sm" role="document">
   <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
         <h4 class="modal-title" id="myModalLabel">Confirmation !</h4>
      </div>
      <div class="modal-body1 text-center">
                  <div >
                            
                                        <h4 *ngIf="!selected.length">Please select any order</h4>
                    </div>               <!-- <p>TEST</p> -->
         <!-- <a href="home.html" class="rd_more btn btn-primary" data-dismiss="modal" id='confirm'>OK</a> -->
      </div>
   </div>
</div>
</div>

<div class="modal fade success-popup" id="ordersendbacksuccess" tabindex="99999" role="dialog" aria-labelledby="myModalLabel" style="margin-top:70px;">
  <div class="modal-dialog modal-sm" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
           <h4 class="modal-title" id="myModalLabel">Success !</h4>
        </div>
        <div class="modal-body1 text-center">
           <p class="lead">Material Sendback Successfully</p>
          
           <a href="home.html" class="rd_more btn btn-primary" data-dismiss="modal" id='confirm'>OK</a>
        </div>
     </div>
  </div>
</div>
             <!--order sendback succes -->

     <div class="modal fade " *ngIf="selected.length" id="materialCall" role="dialog">
  <div class="modal-dialog">
     <!-- Modal content-->
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title" style="text-align: center;">Material Call</h4>
        </div>
        <div class="form-group">
              <div class="row">
                 <div class="col-sm-12">
                    <div class="col-sm-4">
                       <label>Order Number</label>
                    </div>
                    <div class="col-sm-8">
                          <p *ngFor='let sel of selected'>
                                {{sel.OrderNumber}} 
                          </p>
                              <p *ngIf="!selected.length">No Selections</p>
                    </div>
                 </div>
              </div>
           </div>
     </div>
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title" style="text-align: center;">Required Materials</h4>
        </div>
        <div class="modal-body4" id="data">
           <div class="table-responsive">
             
            <ngx-datatable
            class="material striped materialcalltbl"
            [rows]="rows4"
            [columns]="columns4"
            [columnMode]="'force'"
            [headerHeight]="50"
            [loadingIndicator]="loadingIndicator"
            [reorderable]="reorderable"

            [rowHeight]="auto">
          </ngx-datatable>
           </div>
        </div>
        <div class="modal-footer">

           <div class="col-sm-6">
           <button type="button" class="btn btn-md body-info mt-20" data-dismiss="modal" data-toggle="modal" data-target="#MaterialCall"><span>Call All Materials</span></button>
           </div>
           <div class="col-sm-6">
           <button type="button" class="btn btn-md body-info mt-20" data-dismiss="modal" data-toggle="modal" data-target="#MaterialCall"><span>Call Selected Material</span></button>
            </div>
            
        


        </div>
     </div>
  </div>
</div>



<!-- Material Call Start-->
<div class="modal fade success-popup" id="MaterialCall" tabindex="99999" role="dialog" aria-labelledby="myModalLabel" style="margin-top:70px;">
  <div class="modal-dialog modal-sm" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
           <h4 class="modal-title" id="myModalLabel">Success !</h4>
        </div>
        <div class="modal-body9 text-center">
           <p class="lead">Material Call Successfully sent to Service Man Display</p>
           <!-- <a href="home.html" class="rd_more btn btn-default"  data-dismiss="modal">Cancel</a> -->
           <a href="home.html" class="rd_more btn btn-primary" data-dismiss="modal" id='confirm'>OK</a>
        </div>
     </div>
  </div>
</div>
<!-- Material Call End-->



<!-- Modal material load start -->

<div class="modal fade" *ngIf="selected.length" id="pregenealogy" role="dialog">
  <div class="modal-dialog">
     <!-- Modal content-->
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title" style="text-align: center;">Pre Geneaology Capture</h4>
        </div>
        <div class="modal-body">
           <div class="form-group">
              <div class="row">
                 <div class="col-sm-12">
                    <div class="col-sm-4">
                       <label>Recipe Code</label>
                    </div>
                    <div class="col-sm-8">
                          <p *ngFor='let sel of selected'>
                                {{sel.RecipeCode}} 
                          </p>
                              <p *ngIf="!selected.length"> </p>                        </div>
                 </div>
              </div>
           </div>
           <div class="form-group">
              <div class="row">
                 <div class="col-sm-12">
                    <div class="col-sm-4">
                       <label>Material Code</label>
                    </div>
                    <div class="col-sm-8">
                       <select ng-model='' class='form-control'>
                          <option value='created'>MB2560</option>
                          <option value='created'>MB2561</option>
                           </select>
                    </div>
                 </div>
              </div>
           </div>
           <div class="form-group">
              <div class="row">
                 <div class="col-sm-12">
                    <div class="col-sm-4">
                       <label>Scan Material Id</label>
                    </div>
                    <div class="col-sm-8">
                       <input type="text" class="form-control" name="scanmaterial" placeholder="">
                    </div>
                 </div>
              </div>
           </div>
           <div class="modal-footer">
              <div class="col-sm-4">
              </div>
              <div class="col-sm-4">
                 <button type="button" class="btn btn-block body-info" data-dismiss="modal" data-toggle="modal" data-target="#materialloadsucces"><span>Load</span></button>
              </div>
              <div class="col-sm-4">
              </div>
           </div>
        </div>
     </div>
  </div>
</div>            <!-- Modal  material load end-->


             
<div class="modal fade success-popup" *ngIf="!selected.length"  id="parialunload" tabindex="99999" role="dialog" aria-labelledby="myModalLabel" style="margin-top:70px;">
<div class="modal-dialog modal-sm" role="document">
   <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
         <h4 class="modal-title" id="myModalLabel">Confirmation !</h4>
      </div>
      <div class="modal-body1 text-center">
                  <div >
                            
                                        <h4 *ngIf="!selected.length">Please select any order</h4>
                    </div>               <!-- <p>TEST</p> -->
         <!-- <a href="home.html" class="rd_more btn btn-primary" data-dismiss="modal" id='confirm'>OK</a> -->
      </div>
   </div>
</div>
</div>
<!-- Modal  material unload-->
<div class="modal fade" *ngIf="selected.length" id="parialunload" role="dialog">
  <div class="modal-dialog">
     <!-- Modal content-->
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title" style="text-align: center;">Material Unload / Empty</h4>
        </div>
        <div class="form-group">
              <div class="row">
                 <div class="col-sm-12">
                    <div class="col-sm-4">
                       <label>Order Number</label>
                    </div>
                    <div class="col-sm-8">
                          <p *ngFor='let sel of selected'>
                                {{sel.OrderNumber}} 
                          </p>
                    </div>
                 </div>
              </div>
           </div>
        <div class="modal-footer">
        </div>
     </div>
     <div class="modal-content">
        <div class="modal-body4">
           <div class="table-responsive" >

                     <ngx-datatable
                     class="material striped loadtbl"
                     [rows]="rows3"
                     [columnMode]="'force'"
                     [headerHeight]="50"
                     [loadingIndicator]="loadingIndicator"
                     [reorderable]="reorderable"

                     [rowHeight]="auto"
                   >
                     <ngx-datatable-column prop="DS.N" >
                              <ng-template let-value="value" ngx-datatable-cell-template>
                                {{value}}
                              </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="Material Code" >
                              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{value}}
                              </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="Pallete Id" >
                              <ng-template let-value="value" ngx-datatable-cell-template>
                                {{value}}
                              </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="Material Qty" >
                                    <ng-template let-value="value" ngx-datatable-cell-template>
                                      {{value}}
                                    </ng-template>
                                  </ngx-datatable-column>
                                  <ngx-datatable-column prop="Enter Qty" >
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                        <input type="text" class="form-control">
                                          </ng-template>
                                        </ngx-datatable-column>
                                     
                   </ngx-datatable>
           </div>
        </div>
        <div class="modal-footer">
             <div class="col-sm-6">
              <button type="button" class="btn btn-block body-info " data-dismiss="modal" data-toggle="modal" data-target="#materialemptysucces"><span>Empty</span></button>
           </div>
           <div class="col-sm-6">
              <button type="button" class="btn btn-block body-info"  data-dismiss="modal" data-toggle="modal" data-target="#materialunloadsucces"><span>Partial Unload</span></button>
           </div>
            
        </div>
     </div>
  </div>
</div>

         <!-- Modal  material unload end-->


           
<!-- Modal  pregenology capture end-->
<div class="modal fade success-popup" *ngIf="!selected.length"  id="materialsendback" tabindex="99999" role="dialog" aria-labelledby="myModalLabel" style="margin-top:70px;">
<div class="modal-dialog modal-sm" role="document">
   <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
         <h4 class="modal-title" id="myModalLabel">Confirmation !</h4>
      </div>
      <div class="modal-body1 text-center">
                  <div >
                            
                                        <h4 *ngIf="!selected.length">Please select any order</h4>
                    </div>               <!-- <p>TEST</p> -->
         <!-- <a href="home.html" class="rd_more btn btn-primary" data-dismiss="modal" id='confirm'>OK</a> -->
      </div>
   </div>
</div>
</div>
<!-- Modal  material sendback start-->
<div class="modal fade" *ngIf="selected.length"  id="materialsendback" role="dialog">
  <div class="modal-dialog">
     <!-- Modal content-->
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title" style="text-align: center;">Material SendBack</h4>
        </div>
        <div class="form-group">
              <div class="row">
                 <div class="col-sm-12">
                    <div class="col-sm-4">
                       <label>Order Number</label>
                    </div>
                    <div class="col-sm-8">
                          <p *ngFor='let sel of selected'>
                                {{sel.OrderNumber}} 
                          </p>
                    </div>
                 </div>
              </div>
           </div>
     
     </div>
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title" style="text-align: center;">Retrived Materials</h4>
        </div>
        <div class="modal-body4" id="data">
           <div class="table-responsive">
              <!-- <table class="table table-bordered table-striped">
                 <thead class="bg-primary">
                    <tr>
                       <th>S.No</th>
                       <th>Material Code</th>
                       <th>Pallete Id</th>
                       <th>Material Qty</th>
                    </tr>
                 </thead>
                 <tbody>
                    <tr>
                       <td>1</td>
                       <td>MB2323</td>
                       <td>PL003</td>
                       <td>300</td>
                    </tr>
                    <tr>
                       <td>2</td>
                       <td>MB3242</td>
                       <td>PL004</td>
                       <td>200</td>
                    </tr>
                    <tr>
                       <td></td>
                       <td></td>
                       <td>&nbsp;</td>
                       <td>&nbsp;</td>
                    </tr>
                 </tbody>
              </table> -->
              <ngx-datatable
              class="material striped materialtbl"
              [rows]="rows3"
              [columns]="columns5"
              [columnMode]="'force'"
              [headerHeight]="50"
              [rowHeight]="50"
              >
            </ngx-datatable>
           </div>
        </div>
        <div class="modal-footer">
           <div class=" col-lg-6 col-sm-6">
           <button type="button" class="btn btn-md body-info mt-20" data-dismiss="modal" data-toggle="modal" data-target="#ordersendbacksuccess"><span>Send All Materials</span></button>
            </div>
            <div class="col-lg-6 col-sm-6">
           <button type="button" class="btn btn-md body-info mt-20" data-dismiss="modal" data-toggle="modal" data-target="#ordersendbacksuccess"><span>Send selected Material</span></button>
           </div>
         


        </div>
     </div>
  </div>
</div>