:host /deep/ ngx-datatable.material .datatable-header .datatable-header-cell {
  text-align: left;
  padding: .9rem 1.2rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
  vertical-align: bottom;
  font-size: 14px !important;
  font-weight: bold !important;
  color: #000 !important;
  background-color:  #56af5b!important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
} 

:host /deep/.ngx-datatable .datatable-body-cell, .ngx-datatable .datatable-header-cell {
    overflow-x: hidden;
    vertical-align: top;
    display: inline-block;
    line-height: 1.25 !important;
}
:host /deep/ .ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group{
    background-color: #a3a375 !important;
}

button[disabled]
{
color: #000 !important;
    background-color: rgb(155, 151, 151) !important;
  }
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
 
    .button1 {
        width: 135px !important;
 
    }
    .btn-width {
        width: 120px !important;
        font-size: 8px !important;
    }
    .ngx-datatable.material .datatable-footer .datatable-pager {
        margin: 0px !important;
    }
    
  }
 
  @media screen and (min-height: 655px) {
    
    //  :host /deep/ .ngx-datatable .datatable-body-cell, .ngx-datatable[_ngcontent-c1] .datatable-header-cell[_ngcontent-c1] {
    //      overflow-x: hidden;
    //      vertical-align: top;
    //      display: inline-block;
    //      line-height: 6.25 !important;
    //  }
 }
 
 @media screen and (min-height: 655px)and (max-height: 1920px) {
    
      :host /deep/ .availabetbl  .datatable-body {
        height:265px !important;
    } 
    :host /deep/ .bomtbl .datatable-body {
     height:265px !important;
    } 
     
      :host /deep/.ngx-datatable .datatable-body-cell, .ngx-datatable[_ngcontent-c1] .datatable-header-cell[_ngcontent-c1] {
         overflow-x: hidden;
         vertical-align: top;
         display: inline-block;
         line-height: 35px !important;
     }
 } 


 .button1 {
    width: 190px;
    float: left;
}
 .modal-title{
    color: #fff;

}
.modal-header{
    background-color: #83189c;
}
.modal-body{
 height: 230px;
     }
    .modal-body1{
  height: 100px;
 }
       .modal-body2{
 height: 60px;
}
       .modal-body3{
 height: 170px;
}
      .modal-body7{
 height: 150px;
}
    .modal-body4{
 height: 180px;
}
     .modal-body9{
 height: 130px;
}
  