
  .mt-12{
    bottom:20px;
     position:initial;  
margin-top: 20px;
   width: 135.1px;
    height: 49px;
                font-size: 12px;
                // 
                margin-left: 457px;

  }
        .mt-2{
          height:42px !important;
          position:fixed;
          bottom:20px;
          margin-left:170px !important;
           width:130px;
          }
          .mt-3{
            height:42px !important;

            position:fixed;
            bottom:20px;
            }
          .mr-16px {
            margin-right:45px;
        }
        .mt-34{
          margin-left: 1px !important;
          margin-right: 2px;
          width: 150px;
          font-size: 12px;
          height: 48px;

    }
    .modal-title{
      color: #fff;
  
  }
  .modal-header{
      background-color: #83189c;
  }
  .modal-body{
   height: 230px;
       }
      .modal-body1{
    height: 100px;
   }
         .modal-body2{
   height: 60px;
  }
         .modal-body3{
   height: 170px;
  }
        .modal-body7{
   height: 150px;
  }
      .modal-body4{
   height: 180px;
  }
       .modal-body9{
   height: 130px;
  }
    :host /deep/ ngx-datatable.material .datatable-header .datatable-header-cell {
      text-align: left;
      padding: .9rem 1.2rem;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.54);
      vertical-align: bottom;
      font-size: 14px !important;
      font-weight: bold !important;
      color: #000 !important;
      background-color:  #56af5b!important;
      padding-top: 5px !important;
      padding-bottom: 5px !important;
    } 
    
    :host /deep/.ngx-datatable .datatable-body-cell, .ngx-datatable .datatable-header-cell {
        overflow-x: hidden;
        vertical-align: top;
        display: inline-block;
        line-height: 1.25 !important;
    }    
:host /deep/ .ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group{
  background-color:#996600 !important;
}
.inprogress-orders{
  background-color:#83189c; color:#FFF; text-align:center;
height:28px; vertical-align:middle; padding-top: 4px;
margin-bottom:0px;margin-top:0px;
}
.hold-orders{
  background-color:#83189c; color:#FFF; text-align:center;
height:28px; vertical-align:middle; padding-top: 4px;
margin-bottom:0px;margin-top:0px;
}
 
@media screen and (min-height: 655px) {
    
 
}

@media screen and (min-height:655px) and (max-height:1900px){
  :host /deep/ .inprogresstbl  .datatable-body {
    height:480px !important;
} 


:host /deep/ .holdtbl .datatable-body {
 height:480px !important;
} 
 
  :host /deep/.ngx-datatable .datatable-body-cell, .ngx-datatable[_ngcontent-c1] .datatable-header-cell[_ngcontent-c1] {
     overflow-x: hidden;
     vertical-align: top;
     display: inline-block;
     line-height: 35px !important;
 }
}
@media screen and (min-width:768px) and (min-width:1024px)  and (orientation: landscape) {
  .mt-2{
          
    position:fixed;
    bottom:20px;
    margin-left:95px;
     width:130px;
    }
}
