<app-header></app-header>
<div class="col-lg-6 col-md-6 col-xs-12">
  <h4 class="inprogress-orders">In-Progress Orders</h4>
<!-- <ngx-datatable
class="material striped inprogresstbl"
[rows]="rows"
[columns]="columns"

[columnMode]="'force'"
[headerHeight]="33"               
[footerHeight]="35"
[rowHeight]="'auto'"
[limit]="9"
[selected]="selected"
[selectionType]="'single'"
(activate)="onActivate($event)"
(select)='onSelect($event)'>
</ngx-datatable> -->
<ngx-datatable
class="material striped inprogresstbl"
[rows]="rows"

[columnMode]="'force'"
[headerHeight]="33"
[footerHeight]="35"
[rowHeight]="'auto'"

[limit]="9"
[selectCheck]="singleSelectCheck"

[reorderable]="reorderable"
[selected]="selected"
[selectionType]="'single'"
(activate)="onActivate($event)"
 (select)='onSelect($event)'>
 <ngx-datatable-column prop="D.S.N" [sortable]="false" headerClass="ipdsno" cellClass="ipdsno">
             <ng-template let-value="value" ngx-datatable-cell-template>
               {{value}}
             </ng-template>
           </ngx-datatable-column>
           <ngx-datatable-column prop="RecipeCode"  [sortable]="false" headerClass="iprecp" cellClass="iprecp" >
             <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
               {{value}}
             </ng-template>
           </ngx-datatable-column>
           <ngx-datatable-column prop="orderno"  [sortable]="false" headerClass="iporderno" cellClass="iporderno">
             <ng-template let-value="value" ngx-datatable-cell-template>
               {{value}}
             </ng-template>
           </ngx-datatable-column>
          
</ngx-datatable>

<div class="col-md-12 col-lg-12 col-xs-12 padd-0">
  <div class="col-md-6 col-xs-6 col-lg-6 padd-0">
      <a [routerLink]="['/app-mainpage']">
        <button type="button" class="btn btn-md body-info mt-3" >
            <i class="fa fa-arrow-left">&nbsp;&nbsp;Back</i>
         </button>
      </a>
  </div>
  <div class="col-md-6 col-xs-6 col-lg-6 padd-0">
      <button type="button" class="btn  body-info mt-2 pull-right " style="position:fixed;bottom:20px;margin-left:120px; width:130px;" data-toggle="modal" data-target="#Orderrollback"><span>Order Roll Back</span></button>
  </div>
</div>
<!-- 
<div class="btnctrl">
 
  <a [routerLink]="['/app-mainpage']">
  <div class="col-md-12 col-lg-12 col-xs-12" style="padding:0px;">
    <div class="col-md-6 col-lg-6 col-xs-6 padd-0">
      <button type="button" class="btn btn-md body-info mt-34" style="color:white;    height: 49px !important; bottom:20px; position:fixed;">
        <i class="fa fa-arrow-left">&nbsp;&nbsp;Back</i>
     </button>
    </div>
    <div class="col-md-6 col-lg-6 col-xs-6" style="padding:0px;">
      <button type="button" class="btn btn-block body-info mt-2" data-toggle="modal" data-target="#Orderrollback"><span>Order Roll Back</span></button>
    </div>
  </div>
  
</a>            
          

    
 
</div> -->
</div>
<div class="col-lg-6  col-md-6 col-sm-12">
      <h4 class="hold-orders">Hold Orders</h4>
    <!-- <ngx-datatable
    class="material striped"
    [rows]="rows1"
    [columns]="columns1"
    
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [limit]="12"
    [selected]="selected"
    [selectionType]="'single'"
    (activate)="onActivate($event)"
    (select)='onSelect($event)'>
   </ngx-datatable> -->
   <ngx-datatable
   class="material striped holdtbl"
   [rows]="rows1"
   
   [columnMode]="'force'"
   [headerHeight]="33"
   [footerHeight]="35"
   [rowHeight]="'auto'"
   
   [limit]="9"
   [selectCheck]="singleSelectCheck"

   [reorderable]="reorderable"
   [selected]="selected"
   [selectionType]="'single'"
   (activate)="onActivate($event)"
    (select)='onSelect($event)'>
    <ngx-datatable-column prop="D.S.N" [width]="5" [sortable]="false">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="orderno" [width]="130" [sortable]="false">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="RecipeCode" [width]="50" [sortable]="false">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="No Of Batch" [width]="60" [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        {{value}}
                      </ng-template>
                    </ngx-datatable-column>
 </ngx-datatable>
  <!-- <div class="btnctrl">
    
     <div class="col-sm-12 col-md-12" style="padding:0px;">
       <div class="col-md-6 col-xs-6 col-lg-6"> 
         
      </div>
      <div class="col-md-6 col-xs-6 col-lg-6" style="padding:0px;"> 
          <button type="button" class="btn btn-block body-info mt-12 pull-right" data-toggle="modal" data-target="#Orderunhold"><span>Order Un-Hold</span></button>
      </div>
     </div>
  </div> -->
  <div class="col-md-12 col-sm-12 ">
<div class="col-md-6 col-sm-6">

</div>
<div class="col-md-6 col-sm-6">
  <button type="button" class="btn  body-info mt-2 pull-right" style="position:fixed;bottom:20px;margin-left:120px; width:130px;" data-toggle="modal" data-target="#Orderunhold"><span>Order Un-Hold</span></button>

</div>
  </div>
</div>

<app-footer></app-footer>

<div class="modal fade success-popup" id="Orderrollback" tabindex="99999" role="dialog" aria-labelledby="myModalLabel" style="margin-top:70px;">
  <div class="modal-dialog modal-sm" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
           <h4 class="modal-title" id="myModalLabel">Confirmation !</h4>
        </div>
        <div class="modal-body1 text-center">
           <!-- <p class="lead">Order Successfully RollBack to Order Start</p> -->
           <ul>
            <h4 *ngFor='let sel of selected'>
              {{sel.orderno}} &nbsp;Order Successfully RollBack to Order Start
            </h4>
            <h4 *ngIf="!selected.length">Please Select Any Order</h4>
          </ul>
    
           <a href="home.html" class="rd_more btn btn-primary" data-dismiss="modal" id='confirm'>OK</a>
        </div>
     </div>
  </div>
</div>
               <!--order rollback end -->

<!--order unhold start-->
<div class="modal fade success-popup" id="Orderunhold" tabindex="99999" role="dialog" aria-labelledby="myModalLabel" style="margin-top:70px;">
  <div class="modal-dialog modal-sm" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
           <h4 class="modal-title" id="myModalLabel">Confirmation !</h4>
        </div>
        <div class="modal-body1 text-center">
           <!-- <p class="lead">Order Successfully Unholded</p> -->
           <ul>
            <h4 *ngFor='let sel of selected'>
              {{sel.orderno}} &nbsp;Order Successfully Unholded
            </h4>
            <h4 *ngIf="!selected.length">Please Select Any Order</h4>
          </ul>
           <a href="home.html" class="rd_more btn btn-primary" data-dismiss="modal" id='confirm'>OK</a>
        </div>
     </div>
  </div>
</div>