<!-- <div class="form_container">
    <form [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
       <header>Login</header>
       <label>Username <span>*</span></label>
       <input type="text" name="uname" formControlName="uname"/>
       
       <div class="help">At least 6 character</div>
       <label>Password <span>*</span></label>
       <input type="password" class="fortextbox" name="passwd" formControlName="passwd"/>
       
       <div class="help">Use upper and lowercase lettes as well</div>
       <button [disabled]="!formdata.valid" value="Login">Login</button>
    </form>
 </div> -->
 <style>
  @media only screen and (min-width:0px) and (max-width:480px) {
     body {
         display: none;
     }
 }
</style>
<div >

<div class="col-md-12 bg" style="background:url('assets/images/bdyg.jpg') no-repeat">
 <!-- <img src="assets/images/bdyg.jpg" class="bg">  -->
   <div class="col-md-8" >

     </div>
     <div class="col-md-4 login-top">
         <div id="login" class="main_box">
             <fieldset>
                <div style="width: 178px; margin: 0 auto; margin-bottom: 15px;"><img src="assets/images/logo.png" class ="image-responsive center-block" style="width:100%" /></div>
                <form [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
                  <ul style="padding-left:0">
                      <li>
                         <i class="fa fa-user" style="font-size:21px;">   
                                 <input type="text" name="uname" formControlName="uname"  required/>
                                 
                         </i>       </li>
                      <li>
                         <i class="fa fa-lock" style="font-size:21px;"></i>         <input type="password" class="fortextbox" name="passwd" formControlName="passwd" required/>
                         
                      </li>
                   </ul>
                   <button [disabled]="!formdata.valid" id="btnlogin" value="Login">Login</button>
                   
               </form>

             </fieldset>
             <h2 ><b> {{date | date: "dd-MM-yyyy HH:mm:ss a"}}</b></h2>

          </div>

       </div>
</div>



</div>
