/* .form_container{
    margin : 0 auto;
    width:600px;
 }
 
 form {
    background: white;
    width: 500px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
    font-family: lato;
    position: relative;
    color: #333;
    border-radius: 10px;
 }
 
 form header {
    background: #FF3838;
    padding: 20px 20px;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 10px 10px 0 0;
    margin-top: 100px;
 }
 
 form label {
    margin-left: 20px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 5px;
    position: relative;
 }
 
 form label span {
    color: #FF3838;
    font-size: 2em;
    position: absolute;
    left: 2.3em;
    top: -10px;
 }
 form input {
    display: block;
    width: 50%;
    margin-left: 20px;
    padding: 5px 20px;
    font-size: 1em;
    border-radius: 3px;
    outline: none;
    border: 1px solid #ccc;
 }
 
 form .help {
    margin-left: 20px;
    font-size: 0.8em;
    color: #777;
 }
 
 form button {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: inherit;
    color: white;
    background: #FF3838;
    outline: none;
    border: none;
    padding: 5px 15px;
    font-size: 1.3em;
    font-weight: 400;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.4);
    cursor: pointer;
    transition: all 0.15s ease-in-out;
 }
 form button:hover {
    background: #ff5252;
 }
 /* .container{
     background-color: 
 } */
  
 
 *{
    box-sizing: border-box;
    }
    *:before, *:after {
    box-sizing: border-box;
    }
    /*   body {
    background: #002448;
    color: #000;
    font: 100%/1.5em "Varela Round", sans-serif;
    margin: 0;
    background-size:cover !important;
    min-height: 110vh;
    height: 110vh;
    }*/
    body {
    background: #002448;
    color: #000;
    font: 100%/1.5em "Varela Round", sans-serif;
    margin: 0;
    background-size: cover !important;
    min-height: 100vh;
    height: 100vh;
    }
    .container {
    /* left: 50%;
    position: fixed;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
     
        /* left: 41%;
        position: fixed;
        top: 31%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        margin-top: 233px; */
    }
    
    /* ---------- LOGIN ---------- */
    #login fieldset {
    background: #f7eded;
    border-radius: 20px 20px;
    padding: 20px 26px;
    border-color:transparent;
    }
    #login fieldset p {
    color: #777;
    margin-bottom: 14px;
    }
    #login fieldset p:last-child {
    margin-bottom: 0;
    }
    form li {
    list-style: none;
    width: 100%;
    font-weight: 500;
    border-bottom: 1px solid rgba(52, 52, 52, 0.33);
    background: transparent;
    margin: 1em 0;
    outline: none;
    }
    body i, form li, .submit input[type="submit"] {
    transition: 0.1s all;
    -webkit-transition: 0.1s all;
    -moz-transition: 0.1s all;
    -o-transition: 0.1s all;
    }
    input[type="text"], input[type="password"] {
    width: 83%;
    padding: 1em 0em 1em 2.7em;
    color: #353535;
    font-size: 15px;
    outline: none;
    background: none;
    font-weight: 500;
    border: none;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(53, 53, 53, 0.72);
    }
    ::-moz-placeholder { /* Firefox 19+ */
    color: rgba(53, 53, 53, 0.72);
    }
    :-ms-input-placeholder { /* IE 10+ */
    color: rgba(53, 53, 53, 0.72);
    }
    :-moz-placeholder { /* Firefox 18- */
    color: rgba(53, 53, 53, 0.72);
    }
    .user {
    /* background: url(resources/assets/images/txtuser.png); */
    background-size: 25px;
    background-repeat: no-repeat;
    }
    .lock {
    /* background: url(resources/assets/images/key.png); */
    background-size: 25px;
    background-repeat: no-repeat;
    }
    .icon {
    height: 25px;
    width: 25px;
    display: block;
    float: left;
    margin: 12px -35px 0px 5px;
    padding: 5px 32px 0 0;
    }
    #btnlogin {
    margin: 25px auto 0;;
    font-size: 20px;
    padding: 10px 50px;
    display: block;
    background-color: #000000;
    border: 1px solid transparent;
    color: #ffffff;
    font-weight: 300;
    -webkit-border-radius: 3px;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    }
    #btnlogin:hover {
    background-color: rgba(255, 255, 255, 0.32);
    color: #271717;
    border-color: #271717;
    }
    /* .bg {
        width: 100%;
    } */
    .bg {
        width: 100%;
      height: 100%;
      position: absolute;
      }
    .main
    {
    /* position: absolute;
    top: 10%;
    right: 0;
    left: 0;
    width: 400px;
    margin-left: auto;
    margin-right: 80px;
    margin-bottom: 20px; */
    position: absolute;
    top: 10%;
    /* right: 0; */
    left: 0;
    width: 400px;
    margin-left: auto;
    margin-right: 80px;
    margin-bottom: 20px;
    }
   
    .main_box
    {
        /* width: 100%; */
        /* margin-left: 121px; */
        left: auto;
        /* right: auto; */
        /* margin-top: 50px; */
    }
    @media all and (max-width: 500px) and (min-width: 320px) 
    {
    .main
    {
    width: 95% !important;
    margin: 0 auto !important;
    }
    body {
    /* background:  #002448 !important; */
    display: none;
    }
    }
    #login fieldset {
    background: #fff;
    border-radius: 20px 20px;
    padding: 20px 26px;
    border-color:transparent;
    }
    @media all and (max-width: 1900px) and (min-width: 1024px) 
    {
    /* body {
    background: url(images/bdyg.jpg) !important;
    } */
    #login fieldset {
    background: #F0F0F0;
    border-radius: 20px 20px;
    padding: 20px 26px;
    border-color:transparent;
    }
    }
    @media all
    and (min-width : 768px) 
    and (max-width : 1024px) 
    and (orientation : landscape) { 
    body {
    background: cover;
    /* background: url(images/bdyg.jpg) !important; */
    display: inherit !important;
    }
    #login fieldset {
    background: #F0F0F0;
    border-radius: 20px 20px;
    padding: 20px 26px;
    border-color:transparent;
    }
    }

  