

:host /deep/ ngx-datatable.material .datatable-header .datatable-header-cell {
  text-align: left;
  padding: .9rem 1.2rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
  vertical-align: bottom;
  font-size: 14px !important;
  font-weight: bold !important;
  color: #000 !important;
  background-color:  #56af5b!important;
  padding-top: 5px !important;
     padding-bottom: 5px !important;
} 
:host /deep/ .ngx-datatable.material {
  background: #FFF;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  margin-top: -9px !important;
}
.form-group {
  margin-bottom: 15px;
  margin-top: 15px;

}
.complte-orders{
    background-color:#83189c; color:#FFF; text-align:center;
  height:35px; vertical-align:middle; padding-top: 4px;
  margin-bottom:0px;margin-top:0px;
  }
 
.mt-16 {
    position:fixed;
    bottom:0px;
    margin-bottom: 15px;
    margin-left: 40px !important;
     margin-right: 2px;
    width: 300px;
    font-size: 12px;
    height: 43px;

  }
  .mt-41{
    margin-bottom: 15px;

      position:fixed;
      bottom:0px;
margin-left: 11px !important;
margin-right: 2px;
width: 93px;
font-size: 12px;
height: 43px;
}
.modal-title{
  color: #fff;

}
.modal-header{
  background-color: #83189c;
}
.modal-body{
height: 230px;
   }
  .modal-body1{
height: 100px;
}
     .modal-body2{
height: 60px;
}
     .modal-body3{
height: 170px;
}
    .modal-body7{
height: 150px;
}
  .modal-body4{
height: 180px;
}
   .modal-body9{
height: 130px;
}

  :host /deep/.ngx-datatable .datatable-body-cell, .ngx-datatable .datatable-header-cell {
    overflow-x: hidden;
    vertical-align: top;
    display: inline-block;
    line-height: 1.25 !important;
}  
:host /deep/ .ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group{
    background-color: #996600 !important;
}

@media screen and (min-height: 655px)and (max-height: 1920px) {
    
  :host /deep/ .compltetbl  .datatable-body {
    height:470px !important;
} 

 
  :host /deep/.ngx-datatable .datatable-body-cell, .ngx-datatable[_ngcontent-c1] .datatable-header-cell[_ngcontent-c1] {
     overflow-x: hidden;
     vertical-align: top;
     display: inline-block;
     line-height: 28px !important;
 }
} 

@media screen and (min-width:768px) and ( max-width:1024px) and (orientation: landscape){
  .mt-16 {
    position: fixed;
    bottom: 0px;
    margin-bottom: 15px;
    margin-left: 31px !important;
    margin-right: 2px;
    width: 239px !important;
    font-size: 12px;
    height: 43px;
}
}
