  <!-- Navigation -->
 <app-header></app-header>
           <div class="col-lg-12 col-sm-12 col-md-12" >
                 <h4 class="complte-orders">Order Completion</h4>
              
                          <ngx-datatable
                          class="material striped compltetbl"
                          [rows]="rows"
                          [columns]="columns"
                          [limit]="10"

                          [columnMode]="'force'"
                          [headerHeight]="33"
                          [footerHeight]="33"
                          [reorderable]="reorderable"
 
                          [rowHeight]="auto"
                          [selected]="selected"
                          [selectionType]="'single'"
                          (activate)="onActivate($event)"
                          (select)='onSelect($event)' >
                        </ngx-datatable> 

           </div>
           <div class="col-md-12 col-xs-12 btnctrl">
              <div class="col-md-2 col-xs-3">
              	<a [routerLink]="['/app-mainpage']">
                        <button type="button" class="btn btn-block body-info mt-41"><i class="fa fa-arrow-left">&nbsp;&nbsp;Back</i></button>

                         
                </a>   
              </div>
              <div class="col-md-3 col-xs-3">
              	 <button type="button" class="btn btn-block body-info mt-16" data-toggle="modal" data-target="#mymodal2"><span>Pallete Completion</span></button>
              </div>
              <div class="col-md-3 col-xs-3">
              	<button type="button" class="btn btn-block body-info mt-16" data-toggle="modal" data-target="#mymodal3"><span>BarCode Reprint</span></button>
              </div>
              <div class="col-md-3 col-xs-3">
              <button type="button" class="btn btn-block body-info mt-16" ><span>Maintenance Call</span></button>
              </div>
           </div>
           
<app-footer></app-footer>


  <!-- modal Batch Completion start-->
      <!-- Modal -->
      <div class="modal" id="mymodal2" role="dialog">
        <div class="modal-dialog">
           <!-- Modal content-->
           <div class="modal-content">
              <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h4 class="modal-title">Batch Completion</h4>
              </div>
              <div class="modal-body4">
                 <div class="form-group">
                    <div class="row">
                       <div class="col-sm-12">
                          <div class="col-sm-4">
                             <label>Recipe Code</label>
                          </div>
                          <div class="col-sm-8">
                             <!-- <input type="text" class="form-control" value="FB25432" readonly> -->
                          <h4 *ngFor="let sel of selected">
                            {{sel.RecipeCode}}
                          </h4>
                            </div>
                       </div>
                    </div>
                 </div>
                 <div class="form-group">
                    <div class="row">
                       <div class="col-sm-12">
                          <div class="col-sm-4">
                             <label>Palette ID</label>
                          </div>
                          <div class="col-sm-8">
                             <input type="text" class="form-control">
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="form-group">
                    <div class="row">
                       <div class="col-sm-12">
                          <div class="col-sm-4">
                             <label>Material Qty</label>
                          </div>
                          <div class="col-sm-8">
                             <input type="text" class="form-control">
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="form-group">
                    <div class="row">
                       <div class="col-sm-12">
                          <div class="col-sm-4">
                             <label>Move To</label>
                          </div>
                          <div class="col-sm-8">
                             <select ng-model='' class='form-control'>
                                <option value='total'>Storage Area</option>
                                <option value='created'>NCP Area</option>
                             </select>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="modal-footer">
                 <div class="col-sm-6">
                 <button type="button" class="btn btn-block body-info mt-20"   data-dismiss="modal" data-toggle="modal" data-target="#palletecompletion">Palette Complete</button>
              </div>

               <div class="col-sm-6">
                 <button type="button" class="btn btn-block body-info mt-20"   data-dismiss="modal" data-toggle="modal" data-target="#OrderCompletion">Order Complete</button>
              </div>

              </div>
           </div>
        </div>
     </div>
           <!-- modal Batch Completion end-->


     <!--modal Batch Completion yes  start -->

     <div class="modal success-popup" id="palletecompletion" tabindex="99999" role="dialog" aria-labelledby="myModalLabel" style="margin-top:70px;">
        <div class="modal-dialog modal-sm" role="document">
           <div class="modal-content">
              <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                 <h4 class="modal-title" id="myModalLabel">Confirmation !</h4>
              </div>
              <div class="modal-body3 text-center">
                 <p class="lead">Are you sure, You want to Complete Palette???</p>
                  <a class="rd_more btn btn-primary"   data-dismiss="modal" data-toggle="modal" data-target="#batchcompletionsucces">YES</a>
                 <a href="home.html" class="rd_more btn btn-default"  data-dismiss="modal">NO</a>
                
              </div>
           </div>
        </div>
     </div>
<!-- modal Batch Completion yes succes -->

<!--modal Order Completion yes  start -->

     <div class="modal  success-popup" id="OrderCompletion" tabindex="99999" role="dialog" aria-labelledby="myModalLabel" style="margin-top:70px;">
        <div class="modal-dialog modal-sm" role="document">
           <div class="modal-content">
              <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                 <h4 class="modal-title" id="myModalLabel">Confirmation !</h4>
              </div>
              <div class="modal-body3 text-center">
                 <p class="lead">Are you sure, You want to Complete Order???</p>
                  <a class="rd_more btn btn-primary"   data-dismiss="modal" data-toggle="modal" data-target="#ordercompletionsucces">YES</a>
                 <a href="home.html" class="rd_more btn btn-default"  data-dismiss="modal">NO</a>
                
              </div>
           </div>
        </div>
     </div>
<!-- modal Order Completion yes succes -->

<div class="modal  success-popup" id="batchcompletionsucces" tabindex="99999" role="dialog" aria-labelledby="myModalLabel" style="margin-top:70px;">
        <div class="modal-dialog modal-sm" role="document">
           <div class="modal-content">
              <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                 <h4 class="modal-title" id="myModalLabel">Success !</h4>
              </div>
              <div class="modal-body1 text-center">
                 <p class="lead">Batch Completed Successfully</p>
                
                 <a class="rd_more btn btn-primary"  id='confirm' data-dismiss="modal" >OK</a>
              </div>
           </div>
        </div>
     </div>
                   <!-- modal Batch Completion succes -->



<div class="modal  success-popup" id="ordercompletionsucces" tabindex="99999" role="dialog" aria-labelledby="myModalLabel" style="margin-top:70px;">
        <div class="modal-dialog modal-sm" role="document">
           <div class="modal-content">
              <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                 <h4 class="modal-title" id="myModalLabel">Success !</h4>
              </div>
              <div class="modal-body1 text-center">
                 <p class="lead">Order Completed Successfully</p>
                
                 <a  class="rd_more btn btn-primary"  id='confirm'  data-dismiss="modal">OK</a>
              </div>
           </div>
        </div>
     </div>
                   <!-- modal Order Completion succes -->

     <!-- modal popup Barcode Reprint start -->
     <!-- Modal -->
     <div class="modal " id="mymodal3" role="dialog">
        <div class="modal-dialog">
           <!-- Modal content-->
           <div class="modal-content">
              <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h4 class="modal-title">Barcode Reprint</h4>
              </div>
              <div class="modal-body2">
                 <div class="form-group">
                    <div class="row">
                       <div class="col-sm-12">
                          <div class="col-sm-4">
                             <label>Palette ID</label>
                          </div>
                          <div class="col-sm-8">
                             <input type="text" class="form-control">
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="modal-footer">
                 <button type="button" class="btn btn-block body-info mt-17"  data-dismiss="modal" data-toggle="modal" data-target="#barcodereprintsucces">Take Reprint</button>
              </div>
           </div>
        </div>
     </div>
     <!-- modal popup Barcode Reprint end -->


<!-- modal Barcode Reprint succes -->

<div class="modal  success-popup" id="barcodereprintsucces" tabindex="99999" role="dialog" aria-labelledby="myModalLabel" style="margin-top:70px;">
        <div class="modal-dialog modal-sm" role="document">
           <div class="modal-content">
              <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                 <h4 class="modal-title" id="myModalLabel">Success !</h4>
              </div>
              <div class="modal-body1 text-center">
                 <p class="lead">Barcode Reprinted Successfully</p>
                
                 <a href="home.html" class="rd_more btn btn-primary" data-dismiss="modal" id='confirm'>OK</a>
              </div>
           </div>
        </div>
     </div>
                   <!-- modal Barcode Reprint succes -->

