/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-datatable/release/index.css'; 
@import '~@swimlane/ngx-datatable/release/themes/material.css'; 
@import '~@swimlane/ngx-datatable/release/assets/icons.css'; 
body {
    background: #F1F3F6;
}
.login-top{
    margin-top: 100px;
   /*  margin-bottom: 120px */
  }

  .btn-back {
    bottom: 20px;
    position: fixed;
  }
    .bg {
    width: 100%;
  height: 100%;
  position: absolute;
  }
.title{
   color: #FFF;
   text-align: center;
   margin-top: 30px;
   font-size: 30px;
}
.padd-0 {
   padding: 0px !important;
}
.mt-15 {
   margin-top: 15px;
}
.btn-bg {
    background: #FFF;
    
}
.body-info{
   background-color: hsl(199, 100%, 13%) !important;
 background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0079b2", endColorstr="#002d42");
 background-image: -khtml-gradient(linear, left top, left bottom, from(#003D6A), to(#002d42));
 background-image: -moz-linear-gradient(top, #003D6A, #002d42);
 background-image: -ms-linear-gradient(top, #003D6A, #002d42);
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #003D6A), color-stop(100%, #002d42));
 background-image: -webkit-linear-gradient(top, #003D6A, #002d42);
 background-image: -o-linear-gradient(top, #003D6A, #002d42);
 background-image: linear-gradient(#003D6A, #002d42);
 border-color: #002d42 #002d42 hsl(199, 100%, 7.5%);
 color: #fff !important;
 text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
 -webkit-font-smoothing: antialiased;
//   width:195px;
/* width:195px;
 height:50px;
 padding:10px 0px 10px 60px;
 font-size:16px;*/
 border: 1px solid #000;
}
.runnging-orders{
    background-color:#83189c; color:#FFF; text-align:center;
height:28px; vertical-align:middle; padding-top: 4px;
margin-bottom:0px;margin-top:0px;
}

.bom-details {
    background-color:#83189c; color:#FFF; text-align:center;
            height:28px; vertical-align:middle; padding-top: 4px;
            margin-bottom:0px;margin-top:0px;
}
.avail-orders{
    background-color:#83189c; color:#FFF; text-align:center;
        height:28px; vertical-align:middle; padding-top: 4px;
        margin-bottom:0px;margin-top:0px;
}
.body-info:hover span {
   padding-right: 25px;
 }
 .body-info:hover span:after {
   
   opacity: 1;
   right: 0;
 }
 .body-info span:after {
   content: '\00bb';
   position: absolute;
   opacity: 10;
   top: 0;
   right: -20px;
   transition: 0.5s;
   width:16px; 
    height:26px;
 }
 .body-info span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.5s;
 }
 .dsno {
    width:9% !important;
}
.orderno {
   width:40% !important;
}
.avorderno {
    width:38% !important;
}
.recipecode {
   width:23% !important;
}
.orderStartTime {
   width:25% !important;
}
.avdsno {
    width: 13% !important;
}
// .batchPlan {
//    width:10% !important;
// }
 .availabetbl  .datatable-body {
     height:175px !important;
 } 
 
.inprogresstbl  .datatable-body {
    height:314px !important;
  } 
  .holdtbl .datatable-body{
    height:314px !important;
   
  }
  .compltetbl .datatable-body {
    height:350px !important;
  } 
  .materialtbl .datatable-body{
      text-align: left !important;
       
} 
.materialcalltbl .datatable-body{
    text-align: left !important;
     
} 
.loadtbl .datatable-body{
    text-align: left !important;

}
.ipdsno{
    width:14% !important;

}
.iprecp{
    width:30% !important;

}
.iporderno{    width:71% !important;

}
 .m-t-10 {
     margin-top: 10px;
 }
 .bomtbl .datatable-body {
    height:175px !important;
} 
.button1 {
   width: 190px;
   float: left;
}
.btn-width {
   width: 170px;
   height: 45px;
}
.rhs {
    float: left;
}
.btn {
    display: inline-block;
    padding: 9px 12px;
    margin-bottom: 0;
    font-size: 12px !important;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
   }

// .button1 {
//     width: 200px;
//     float: left;
// }
// .btn-width {
//     width: 190px !important;
// }



@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
   .dsno {
       width:10% !important;
   }
   .orderno {
       width:37% !important;
    }
    .orderStartTime {
       width:28% !important;
    }
    .recipecode {
       width:17% !important;
    }
    .batchPlan {
      
    }

    .bomtbl {
        margin-top: 10px;
    }

    .runningtbl  {
       margin-top: 10px;
   }
   .button1 {
       width: 180px !important;
       float: left;
   }
   .btn-width {
       width: 170px !important;
   }
   .mmt-15 {
       margin-top:15px;
   }
  
   .btn {
    display: inline-block;
    padding: 9px 12px;
    margin-bottom: 0;
    font-size: 12px !important;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
   }
   button, input, select, textarea {
       font-family: inherit;
       font-size: inherit;
       line-height: inherit;
   }
   button, html input[type="button"], input[type="reset"], input[type="submit"] {
       -webkit-appearance: button;
       cursor: pointer;
   }
.title{
   color: #FFF;
   text-align: center;
   margin-top: 30px;
   font-size: 25px;
}

.avdsno {
   width: 15% !important;
}
.avorderno {
   width: 66% !important;
}
.avmaterialcode {
   width: 25% !important;
}
  
 }

 @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
 
   .button1 {
       width: 135px !important;

   }
   .btn-width {
       width: 120px !important;
       font-size: 8px !important;
   }
   .ngx-datatable.material .datatable-footer .datatable-pager {
       margin: 0px !important;
   }
   .avdsno {
    width: 17% !important;
 }
   .avorderno {
    width: 63% !important;
 }
 .user-log {
    margin-left: 0px !important;
}

 }


//  .modal-backdrop {
    
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     z-index: 1040;
//      background-color: none !important;
// }


//   @media (min-width: 800px) and (max-width: 1440px) and (orientation: landscape) {
//       .runningtbl  {
//           margin-top: 10px;
//       }
//     .dsno {
//         width:10% !important;
//     }
//     .orderno {
//         width:37% !important;
//      }
//      .orderStartTime {
//         width:28% !important;
//      }
//      .recipecode {
//         width:17% !important;
//      }
//      .batchPlan {
      
//      }
//      .availabetbl  .datatable-body {
//         height: 200px !important;
//     } 
 
//     .bomtbl .datatable-body {
//       height: 200px !important;
//     } 
//     .avdsno {
//         width: 15% !important;
//     }
//     .avorderno {
//         width: 66% !important;
//     }
//     .avmaterialcode {
//         width: 25% !important;
//     }
//   .ngx-datatable.material .datatable-footer .datatable-pager {
//     margin: 0px !important;
// }
// .button1 {
//     width: 200px;
//     float: left;
// }
// .btn-width {
//     width: 190px !important;
// }
// .btn {
//     display: inline-block;
//     padding: 6px 8px;
//     margin-bottom: 0;
//     font-size: 10px;
//     // font-weight: 400;
//     line-height: 1.42857143;
//     text-align: center;
//     white-space: nowrap;
//     vertical-align: middle;
//     -ms-touch-action: manipulation;
//     touch-action: manipulation;
//     cursor: pointer;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//     background-image: none;
//     border: 1px solid transparent;
//     border-radius: 4px;
// }
// button, input, select, textarea {
//     font-family: inherit;
//     font-size: inherit;
//     line-height: inherit;
// }
// button, html input[type="button"], input[type="reset"], input[type="submit"] {
//     -webkit-appearance: button;
//     cursor: pointer;
// } 
// }