<div class="col-md-12 header">
  <div class="col-md-2  col-xs-2">
      <img src="assets/images/logo5.png">
  </div>
  <div class="col-md-7  col-xs-6">
      <h2 style="text-align:center; vertical-align:middle; margin-top:31px;">          {{ header }}
      </h2>
  </div>
  
  <div class="col-md-3 col-xs-4"> 
      <div class="user-log">
            <!-- <button (click)="switchLanguage('en')">en</button>

            <button (click)="switchLanguage('fr')">fr</button> -->
            <!-- <h1 translate>Title</h1> -->

            <!-- <h5 >  {{ 'Intro' | translate:user }}
                </h5> -->
                <p class="user-name"><i class="fa fa-user fa-fw"></i>{{ 'user' | translate }}</p>
                <a (click)="switchLanguage('in')">

                <img src="assets/images/Indonesia.png" class="img-rounded" style="margin-top: 5px; border:1px solid   #a3a3a3;     height: 29px;">
                </a>
                <a (click)="switchLanguage('en')">


<img src="assets/images/Englang_Flag_07_09_17.png" class="img-rounded" style="margin-top: 5px; border:1px solid   #a3a3a3;     height: 28px; ">
   </a>
</div>
      

<h4>SHIFT A | {{date | date:  "dd-MM-yyyy HH:mm:ss a"}}</h4>

</div>

</div>


