<div class="footer col-md-12 col-xs-12 padd-0">
  <div class="col-md-6 col-xs-6 padd-0">
    <p class="ftext rhs">© PT Multistrada Arah Sarana Tbk. All Rights Reserved</p>
  </div>
  
  <div class="col-md-6 col-xs-6">
    <p class="ftext pull-right">Version 1.0</p>
  </div>
</div>